version: '3'
services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/cbt
      - JWT_SECRET=secret
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "3000:4173"
    environment:
      - VITE_API_URL=http://localhost:8000

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: cbt
    ports:
      - "5432:5432"
